#root{
    /* background-color: red;   */
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  border: 1px solid black;
  box-shadow: 10px 10px 800px  gray;
}
.nav-items > ul{
    display: flex;
    list-style-type: none; 
    /* margin: 10px; */
    /* border: 1px solid black; */
    

}
.nav-items >ul > li{
    padding:5px ;
    margin: 5px;
    list-style-type: none; 
}
.nav-items a {
    text-decoration: none;
    color: inherit;
  }
  .nav-items a:hover {
    color:rgb(173, 86, 86);
    transform: translateY(-3px); /* Moves link slightly up */
    box-shadow: 10px 10px 60px rgba(241, 240, 240, 0.6); /* Adds a subtle shadow */
  }

.logo{
    width: 100px;
    height:100%;

}
.card > img{
    height: 130px;
    width: 100%;

}
.card{
    border: 1px solid black;
    height: 350px;
    width: 290px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
   
}
.card:hover {
    box-shadow: 4px 4px 20px black;
}
.searchInput:focus {
    width: 300px;
    border-color: black;
}
.restcard{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;

}
.searchInput{
    margin: 10px;
    padding: 5px;
    width: 200px;
    border-radius: 7px;
}
.search-btn{
    padding: 5px;
    border-radius: 7px;


}
@media (max-width: 600px) {
    .nav-items > ul {
      flex-wrap: wrap;
    }

  }

  .menu {
    width: 60%;
    margin: 20px auto;
    min-height: 100vh;
}

.heading1{
    /* border: 1px solid black; */
    margin-left: 10px;
}