#root{
    /* background-color: red; */
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
  border: 1px solid black;
}
.nav-items > ul{
    display: flex;
    list-style-type: none; 
}
.nav-items >ul > li{
    padding:10px ;
}

.logo{
    width: 100px;
    height:100%;

}
.card > img{
    height: 130px;
    width: 100%;

}
.card{
    border: 1px solid black;
    height: 350px;
    width: 200px;
    padding: 5px;
    margin: 10px;
}

.restcard{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;

}